:root {
    --color-1: #f9f9f9;
    --color-2:#333333;
    --blue-color: #074a6a;
    --dark-color: #042738;
    --accent-color: #ff4141;
}

* {
    margin: 0;
    padding:0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
html , body {
    height: 100%;
    scroll-behavior: smooth;
}
    


/*Header Style Start*/

header {
    background-color: var(--dark-color);
    display: flex;
    justify-content:space-between;
    position: -webkit-sticky;
    position:sticky;
    padding: 20px 30px;
    
}

Header h1 {
   
    font-size: 40px;
    text-shadow:0 0 10px rgba(51, 51, 51, 0.5);
    
}

header h1 a {
    color: var(--accent-color);
}

header a {
    text-decoration: none;
    color: var(--color-1);
}

header nav {
    margin: 20px 20px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content:space-between;
    align-items: center;
}


header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter; 
    font-size: 1.55vw;
    font-weight: bold;
}
header nav ul li a:hover {
    background-color: var(--blue-color);
    color: var(--accent-color);
    border-radius: 15px;
    text-shadow: none;
}

/*Header Style End*/


/*About Me Style Start*/
.main-section {
    background-image: url(../assets/DBEJ6504.JPG);
    background-size: cover;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-2);
}

.content-block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    color:var(--color-1)
}

.content-block p {
    line-height: 1.8;
    font-size: 1.6vw;
    margin: 1.8vw;
}

.section-title {
    display: flex;
    justify-content: center;
    width: 10%;
}

.section-title h2 {
    transform: rotate(-90deg);
    font-size: 4vw;
    border-bottom: 2px solid var(--accent-color);
    color:var(--blue-color)
}




/*Work Section Start*/

.section-title-2 {
    display: flex;
    justify-content: center;
    width: 10%;
}

.section-title-2 h2 {
    transform: rotate(-90deg);
    font-size: 4vw;
    font-weight: lighter;
    border-bottom: solid 3px var(--accent-color);
    color: var(--dark-color);
}

.main-section-2 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--blue-color)
}

.main-project {
    background-image:url(../assets/runbuddy-screenshot.PNG);
    background-attachment: inherit;
    background-size: cover;
    height: 25vw;
    width: 82%;
    border:2px solid var(--color-1);
    margin: 1vw;
    text-decoration:none;

}

.main-project:hover {
    background:rgba(249, 249, 249, 0.75);
}

.project-2 {
    background-image: url(../assets/horiseon-screenshot.png);
    background-size: cover;
    height: 18vw;
    width: 35%;
    border: solid 2px var(--color-1);
    margin: 1vw;
    text-decoration: none;
}

.project-3 {
    background-image: url(../assets/portfolio-screenshot.PNG);
    background-size: cover;
    height: 18vw;
    width: 35%;
    border: solid 2px var(--color-1);
    margin: 1vw;
    text-decoration: none;
}

.projects-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
}

.hover {
    width: 100%;
    height: 100%;
    color: var(--color-1);
    display: flex;
    justify-content: center;
    align-items: center;

}

.hover span {
    font-size: 2vw;
    color: var(--color-1);
    display: none;
}

.main-project span {
    font-size: 4vw;
}






/*work section style end*/

/* Contact me Style*/

.contact-section {
    height: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-color);
    
}

.contact-content {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    width: 60%;
    color:var(--color-1);
}

.contact-content a {
    text-decoration: none;
}


/*Footer Style*/

footer {
    background-color: var(--color-2);
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px;
}

Footer h2 {
    font: 30px bold;
    color:var(--dark-color)

}
/*End Footer Style*/


/*utility classes*/
flex-row {
    display:flex;
}